
<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AppleCert" value="Apple_Cert.p12"/>
    <add key="AppleCertPWD" value="Apple_Cert_Password"/>
    <add key="AppleSoundName" value="default"/>
    <add key="NotificationLabel" value="Notification Label"/>
    <add key="IsProduction" value="false"/>  <!--use this to set the development environment or the production for the certifications-->
  </appSettings>

  <connectionStrings>
    <add name="GovBids" connectionString="Data Source=[DatabaseServer];Initial Catalog=[DatabaseName];UID=[SQL Login];Password=[Password]" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <httpRuntime requestValidationMode="2.0" executionTimeout="108000" maxRequestLength="10240"/>
    <!--
	Use this to manage the service gets
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    -->
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="AvailBids.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
-->
  </system.web>
</configuration>